* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

main {
    padding-top: 70px;
}

.wrap {
    flex-wrap: wrap;
}


.second-header img {
    width: 100%;
    position: relative;
    bottom: 280px;
    left: 250px;


}

.text-partner {
    justify-content: center;
    padding: 20px;
}

.center {
    justify-content: center;
    padding: 5px;
}

header h1 {
    width: 300px;
}

h2 {
    color: white;
}

.left-header {
    display: flex;
    column-gap: 15px;
}

header img {
    position: relative;
    bottom: 5px;
}

.fa-arrow-down {
    margin-top: 5px;
    font-size: 30px;

}

.header-button {
    background-color: #0061ff;
    color: white;
    border: 0;
    width: 50px;
    padding: 5px;
    position: relative;
    bottom: 3px;
}

.bottonecolumn {
    background-color: #0061ff;
    color: white;
    border: 0;
    padding: 10px;

}

.second-header button {
    background-color: #0061ff;
    color: white;
    width: 200px;
    border: 0;
    padding: 5px;

}

.right-header {
    display: flex;
    column-gap: 15px;
}

.w-70 {
    width: 70%;

}

.hr-feedback {
    width: 30%;
}

.w-30 {
    width: 30%;
    row-gap: 15px;
}

.pt-50px {
    padding-top: 50px;
}

.wrap {
    flex-wrap: wrap;
}

.partner img {
    width: 50%;
}


span {
    color: white;
}

.first-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    line-height: 20px;
    vertical-align: middle;
}

header a {
    text-decoration: none;
    color: black;
}

.second-header {
    height: 400px;
    background-color: #b4d0e7;

}

.header-contenitore {
    margin: 0 auto;
    max-width: 800px;

}

.header-contenitore h1 {
    padding-top: 20px;
}

.section-container {
    max-width: 600px;
    margin: 0 auto;
}


#monthly-pay {
    margin: 40px 0px;
}

.card {
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

.card-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-section h1 {
    margin-bottom: 40px;
}


.card-section img {
    width: 100%;
}


.contenitore {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    background-color: aqua;

}

.footersection {
    background-color: black;


}

.footerdrop {
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 60px;

}

.endfooter {
    column-gap: 5px;
}

footer i {
    color: white;
}

footer hr {
    width: 80%;
    margin-top: 60px;
}

.row-gap20 {
    row-gap: 20px;
}

.rettangolo {
    border: 1px solid black;
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    padding: 5px;
    row-gap: 5px;

}

.rettangoli-contenitore {
    display: flex;
    max-width: 620px;
    margin: 0 auto;

}

.secondorettangolo {
    height: 200px;
    border: 1px solid black;
}

.secondorettangolocont {
    max-width: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;

}

.rettangoli-contenitore span,
h2,
p {
    color: black;
}

.rettangoli-contenitore hr {
    width: 100%;
}

.singolo {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.utente {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

.cartella {
    display: flex;
    justify-content: start;
    margin-top: 5px;
}

.condividi {
    display: flex;
    justify-content: start;
    margin-top: 5px;
}

.bottonecolumn {
    margin-top: 10px;
}

.call-to {
    display: flex;
    margin-top: 5px;
}

.smallhr {
    width: 20px;
    margin: 10px 0px;
}

.check {
    display: flex;
    margin: top;
    column-gap: 2px;
    margin-top: 5px;
}

.check i {
    color: blue;

}

.secondorettangolo span {
    color: black;
}

.information {
    margin-bottom: 60px;
}

.information-text h1 {
    margin-bottom: 25px;
    width: 350px;

}

.prova-gratuita {
    background-color: #b4d0e7;
    margin-bottom: 60px;
}

.prova-gratuitatext {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.prova-gratuita h1 {
    width: 445px;
}

.square {
    width: 15vw;
    height: 15vw;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#company-blocks {
    background-color: #b4d0e7;
}

.block-container {
    display: flex;
    width: 30vw;
}

.feedback-container {
    width: calc(100% - 60vw);
    background-color: #ccc;
    padding: 40px;

}

.square img {
    width: 50%;
}

.firma {
    margin-top: 40px;
}

.feedback-p {
    margin-top: 20px;
}

.feedback-container img {
    width: 50%;
    margin-bottom: 20px;
}

.square img {
    width: 60%;
    filter: invert(1);
}

.square.type-1 {
    color: rgba(255, 102, 0, 0.515);
    background-color: orange;
}

.square.type-2 {
    color: rgb(47, 255, 151);
    background-color: greenyellow;
}

.square.type-3 {

    color: rgb(200, 2, 2);
    background-color: red;
}

.square.type-4 {
    background-color: yellow;
}

.square.type-5 {
    background-color: aquamarine;
}

.square.type-6 {
    background-color: violet;
}

.square.type-7 {
    background-color: brown;
}

.square.type-8 {
    background-color: black;
}

.square:hover {
    border: 10px solid currentColor
}

.prova-gratuita a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    height: 30px;
    width: 250px;
    padding: 7px 40px;
    position: relative;
    top: 5px;
}

.faq-row {
    margin-bottom: 10px;

}

.faq h1 {
    margin-bottom: 20px;
}

.faq hr {
    margin-bottom: 30px;
}

.faq p {
    margin-bottom: 20px;
}

.interaction-faq {
    display: flex;
    justify-content: space-between;

}

footer h2 {
    color: white;
}