* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

img {
    width: 50%;
}

.first-header {
    height: 60px;
    display: flex;
    justify-content: space-between;

}

.second-header {
    height: 200px;
    background-color: aqua;

}

.header-contenitore {
    margin: 0 auto;
    max-width: 1000px;

}

.section-container1 {
    max-width: 800px;
    margin: 0 auto;



}

.secondorettangolo {
    height: 200px;
    width: 800px;
    background-color: blue;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.primorettangolo {
    height: 600px;
    width: 300px;
    background-color: blue;
    border: 2px solid black;
}

.rettangoli-contenitore {
    display: flex;
}