* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

h2 {
    color: white;
}


.wrap {
    flex-wrap: wrap;
}

img {
    width: 50%;
}

span {
    color: white;
}

.first-header {
    height: 60px;
    display: flex;
    justify-content: space-between;

}

.second-header {
    height: 200px;
    background-color: aqua;

}

.header-contenitore {
    margin: 0 auto;
    max-width: 1000px;

}

.section-container {
    max-width: 800px;
    margin: 0 auto;



}

.secondorettangolo {
    height: 200px;
    width: 800px;
    background-color: blue;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.primorettangolo {
    height: 600px;
    width: 300px;
    background-color: blue;
    border: 2px solid black;
}

.rettangoli-contenitore {
    display: flex;
}



.card {
    width: calc(100% / 3 - 1px);

    height: 100px;
    border: 1px solid black;
}

.quadrato {
    width: 250px;
    height: 250px;
    background-color: orange;
    border: 2px solid black;

}

.orangequadrato {
    width: 500px;

}

.contenitore {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    background-color: aqua;

}

.footersection {
    height: 400px;
    background-color: black;


}

.footerdrop {
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-around;

}